<!DOCTYPE html>
<html>

<head>
    <title>おうち鯖 Level</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>おうちサーバーレベルランキングTOP10</h1>
    <% users %>
        <% for(var i=0; i<levels.length; i++) {%>
            <h2>
                <%= users[i] %> - <%= levels[i].level %> Level
            </h2>
            <% } %>
</body>

</html>
