<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>うんこさば</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unkoserverbot.glitch.me/css/index.css">
    <link rel="icon" type="image/png" href="https://unkoserverbot.glitch.me/images/icon.gif">
</head>

<body>
    <h1>うんこさば公式Web</h1>
    <div class="menu">
        <a href="https://discord.com/invite/pkpa6qf">
            うんこさば公式Discordに参加します
        </a>
    </div>
    <div class="unkoserverstatus">
        <h2>うんこさばの状態</h2>
        <ul>
            <li>
                現在参加中のメンバー: <%= joindedmembers %>
            </li>
            <li>
                サーバーのバージョン: <%= serverversion %>
            </li>
        </ul>
    </div>
</body>

</html>