name: Label issues

on:
  issues:
    types:
      - reopened
      - opened
      - closed
      - assigned

env:
  PROJECT_NAME: TODO

jobs:
  issue_labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add backlog label
        if: "github.event.action == 'opened'"
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "Status: backlog"
          remove-labels: "Status: Closed, Status: backlog"
      - name: Add inprogress label
        if: "github.event.action == 'assigned' || github.event.action == 'reopened'"
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "Status: In Progress"
          remove-labels: "Status: backlog, Status: Closed"
      - name: Add close label
        if: "github.event.action == 'closed'"
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "Status: Closed"
          remove-labels: "Status: backlog, Status: In Progress"

  assign_issue_to_project:
    name: Assign issues to project
    runs-on: ubuntu-latest
    steps:
      - name: Assign issues to project
        uses: technote-space/create-project-card-action@v1
        if: "github.event.action == 'opened'"
        with:
          PROJECT: ${{env.PROJECT_NAME}}
          COLUMN: 未処理

  move_assigned_card:
    runs-on: ubuntu-latest
    name: Move assigned card
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        if: "github.event.action == 'assigned'"
        with:
          project: ${{env.PROJECT_NAME}}
          column: 進行中 or 作業中Issue・Pull Request
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: alex-page/github-project-automation-plus@v0.8.1
        if: "github.event.action == 'reopened'"
        with:
          project: ${{env.PROJECT_NAME}}
          column: 進行中 or 作業中Issue・Pull Request
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  move_the_card_when_the_issue_is_closed:
    runs-on: ubuntu-latest
    name: Move the card when the issue is closed
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        if: "github.event.action == 'closed'"
        with:
          project: ${{env.PROJECT_NAME}}
          column: 完了済み
          repo-token: ${{ secrets.GITHUB_TOKEN }}
